@import url('https://fonts.googleapis.com/css2?family=Inter:opsz,wght@14..32,100..900&display=swap');

* {
  margin: 0;
  padding: 0 ;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
} 

body{
  width: 100%;
  min-height: 100vh;
  background: linear-gradient(#F4F0FF, #DACDFF)
}

#chatbot-toggler{
  position: fixed;
  bottom: 30px;
  right: 35px;
  border: none;
  height: 50px;
  width: 50px;
  display: flex;
  cursor: pointer;
  border-radius: 50%;
  background: #6D4FC2;
  align-items: center;
  justify-content: center; 
  transition: all 0.2s ease;
}

#chatbot-toggler span{
  position: absolute;
  color: #fff; 
}
